# Environment variables
.env
.env.local
.env.production

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# JetBrains
.idea/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3
