{
  "Servers": {
    "1": {
      "Name": "postgres",
      "Group": "Servers",
      "Host": "postgres",
      "Port": "5432",
      "MaintenanceDB": "$POSTGRES_DB",
      "Username": "$POSTGRES_USER",
      "SSLMode": "prefer"
    }
  }
}
